:root {
    --bs-body-color: white !important;
}

body {
    background-color: black !important;
}

#top-of-page {
    width: 100%;
}

#tracklist-container {
    /* border: 1px solid white; */
    width: 23%;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
    text-align: center;
}

#canvas-container {
    /* border: 1px solid white; */
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

#eq {
    /* border: 1px solid white; */
    /* border: 1px solid black; */
    /* height: 200px; */
    width: 100%;
}

#annotations-container {
    width: 23%;
    margin-left: 1%;
    margin-right: 1%;
    float: right;
}

#lyric-container {
    /* border: 1px solid white; */
    padding: 1%;
    position: fixed;
    left: 30%;
    right: 35%;
    bottom: 15%;
    height: 60%;
    align-items: center;
}

#lyrics {
    padding-left: 15%;
    scroll-behavior: smooth;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 80%;
}

#controlbar {
    position: fixed;
    text-align: center;
    bottom: 0%;
    width: 100%;
    height: 17%;
    padding: 0.25%;
    padding-top: 1%;
}

#main-buttons{
    position: fixed;
    text-align: center;
    left: 30%;
    right: 30%;   
}

#volume-container {
    position: fixed;
    right:5%;
}

#volume-toggle {
    margin-bottom: 5%;
}

#volume-scrubber {
    accent-color: darkcyan;
    width: 0%;
    opacity: 0;
    transition: ease-in-out 0.4s;
}

#volume-container:hover #volume-scrubber {
    width: 7rem;
    opacity: 1;
    transition: ease-in-out 0.4s;
}

#scrubber {
    accent-color: darkcyan;
    /* width: 800px; */
    width: 50%;
    margin: 2%;
}

.round-button {
    font-size: 20px !important;
    border-radius: 200px !important;
    margin-left: 10px !important;
    margin-right: 10px !important;
}

.tracklist-item {
    background-color: transparent !important;
    border-top: 1px solid rgb(255 255 255 / 13%) !important;
    border-bottom: 1px solid rgb(255 255 255 / 13%) !important;
}

.song-name {
    color: #a0a0a0 !important;
}

.song-name-hidden {
    opacity: 0;
    transition: 0.2s;
}

.song-name-container:hover .song-name-hidden {
    /* visibility: visible; */
    opacity: 1;
    transition: 0.2s;
}


.song-active {
    color: darkcyan !important;
}
.download-link-container {
    padding: 0% !important;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}