:root {
    --bs-body-color: white !important;
}

body {
    background-color: black !important;
}

#text-container {
    margin: 5%;
}

::-webkit-scrollbar {
    width: 0;
    /* Remove scrollbar space */
    background: transparent;
    /* Optional: just make scrollbar invisible */
}